<div class="real-estate-container mat-elevation-z8">
  <div class="real-estate-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="real-estate-table-container">

    <table mat-table [dataSource]="realEstates" class="real-estate-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="cadastralTownshipNumber">
        <th mat-header-cell *matHeaderCellDef>KG-Nummer</th>
        <td mat-cell *matCellDef="let realestate">{{realestate.id.cadastralTownshipNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="estateId">
        <th mat-header-cell *matHeaderCellDef>Grundstücksnummer</th>
        <td mat-cell *matCellDef="let realestate">{{realestate.id.estateId}}</td>
      </ng-container>

      <ng-container matColumnDef="depositNumber">
        <th mat-header-cell *matHeaderCellDef>Einlagezahl</th>
        <td mat-cell *matCellDef="let realestate">{{realestate.id.depositNumber}}</td>
      </ng-container>
      
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Besitzer</th>
        <td mat-cell *matCellDef="let realestate">{{printOwners(realestate.owner)}}</td>
      </ng-container>
      
      <ng-container matColumnDef="fittings">
        <th mat-header-cell *matHeaderCellDef>Zählergarnituren</th>
        <td mat-cell *matCellDef="let realestate">{{realestate.counterfittings.length}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="100"></mat-paginator>
</div>
