<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mat-elevation-z2"><span>{{tenantName}}</span></mat-toolbar>
    <mat-nav-list #navlist *ngFor="let naventry of navEntries" (click)="handleNavClick(naventry, drawer.close);" >
          <a mat-list-item routerLink="{{naventry.link}}"><mat-icon>{{naventry.icon}}</mat-icon><span class="nav-caption">{{naventry.title}}</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z2" color="primary">
      <!-- Pre-Search Bar -->
      <div *ngIf="!searchActive" class="mat-primary mat-toolbar-single-row search-bar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{actNavigation}}</span>
        <span class="spacer"></span>
        <button mat-icon-button class="toolbar-icon" aria-label="Suche" *ngIf="searchPossible" (click)="enableSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="toolbar-icon" aria-label="Benutzer">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      <!-- Search bar -->
      <div *ngIf="searchActive" class="mat-primary mat-toolbar-single-row search-bar">

        <button mat-icon-button class="toolbar-icon" aria-label="Suche" (click)="disableSearch()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- Input Text -->
        <mat-form-field class="search-input" (keydown.enter)="performSearch()">
          <mat-label>Suchbegriff</mat-label>
          <input matInput type="search" value="{{searchString}}" (keyup)="onSearchKey($event)" >
        </mat-form-field>
        
        <button mat-icon-button class="toolbar-icon" aria-label="Suche"(click)="performSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet (activate)='onComponentActivated($event)'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
